
:root {
  --bg-main: #861F41;
  --white: #FFFFFF;
  --f-lato-ragular: "Lato-Regular", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Dai+Banna+SIL:wght@300&family=Lato:wght@100;300;400;700&family=Roboto:wght@400;700&family=Vina+Sans&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 13px;
  font-family: var(--f-lato-ragular);
}

/* body {
  align-items: center;
  overflow-x: hidden;
  height: auto;
  width: 100%;
} */

#menu-bar {
  display: none;
}

header {
  width: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
}

header:hover~section {
  /* filter: grayscale(1.2); */
  filter: blur(0.2rem);
}

.navbar {
  margin-left: -3rem;
  background-color: var(--bg-main);
}

.navbar-top {
  display: flex;
  align-items: center;
}

.nav-list {
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 100px;
  list-style: none;
  margin-left: 330px;
}

.nav-list li a {
  position: relative;
  color: var(--white);
  text-decoration: none;
  padding: 0px 8px;
  font-size: 1.1rem;
  color: var(--white);
}

.nav-list li a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  top: 1;
  background-color: var(--white);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.nav-list li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.parent {
  font-size: 1.1rem;
  padding: 0px 10px;
  color: var(--white);
  position: relative;
  transition: all 0.3s;
}

.dropdown {
  position: absolute;
  list-style: none;
  width: 140px;
  height: auto;
  margin-top: 14px;
  margin-left: -45px;
  visibility: hidden;
  padding: 5px 10px;
  border-radius: 10px;
  opacity: 0;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgb(245, 245, 245);
}

.dropdown li a {
  color: black;
  text-decoration: none;
  padding: 2rem;
}

.parent:hover .dropdown {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
}

.dropdown li a:hover {
  color: var(--bg-main)
}

.dropdown li {
  margin-top: 10px;
}

.nav-icons i {
  padding: 0px 5px;
  font-size: 1.4rem;
  color: var(--white);
  opacity: 0.9;
  cursor: pointer;
}

.nav-icons button {
  position: relative;
  width: 90px;
  border: none;
  padding: 6px 12px;
  background-color: #A4224D;
  color: var(--white);
  border-radius: 3px;
  margin-left: 0px;
  cursor: pointer;

}

.language {
  width: 100%;
  position: absolute;
  top: 2.3rem;
  background-color: white;
  left: 0;
  transition: all 0.3s;
  z-index: 1;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}

.nav-icons button:hover .language {
  visibility: visible;
  opacity: 1;
  transition: 0.2s;
  color: #97144D;
}

.language p {
  padding: 10px 0px;
  color: black;
}

.language p:hover {
  background-color: #f2f2f2;
}

.login-div i {
  opacity: 0.5;
}

.login-1 span {
  margin: 10px 50px;
}

.login-1 span:hover {
  background-color: #f6f6f6;
}

#internet-banking {
  font-size: 1.3rem;
  opacity: 0.8;
}

.navbar-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  background-color: var(--white);
  margin-left: -14rem;
  border-bottom: 1px solid rgb(220, 220, 220);
  /* border: 2px solid red; */
}


.navbar-image {
  display: flex;
  justify-content: start;
  /* margin-left: 14rem; */
  background-color: var(--bg-main);
  height: 4rem;
  margin-left: 180px;
  margin-top: -2.1rem;
  cursor: pointer;
  /* border: 2px solid red; */
}

.login-button {
  display: inline-block;
  position: relative;
  padding: 0px 2px;
}

#open-digital {
  text-decoration: none;
  color: #72082b;

}

#open-digital {
  position: relative;
  color: #72082b;
}

#open-digital::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #72082b;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

#open-digital:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


#Axis-logo {
  margin-top: -1.2rem;
}

.navbar-text {
  display: flex;
  list-style: none;
  font-size: 5rem;
  margin-right: 8rem;
  align-items: center;
  /* border: 2px solid red; */
}

.navbar-text li {
  padding: 0px 10px;
  text-decoration: none;
  color: black;
}

.navbar-text li a {
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
  opacity: 0.9;
  font-weight: 300;
  opacity: 0.8;
}

.navbar-text li a:hover {
  color: #97144D;
}

#diffrent {
  font-size: 1.3rem;
}

.card-1 {
  font-size: 1rem;
  padding: 0px 8px;
  position: relative;
  display: flex;
}

.explore-sec {
  width: 40rem;
  display: flex;
  position: absolute;
  top: 40px;
  left: 0;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  transition: 0.5s;

}

.explore-1 {
  list-style: none;
  background-color: var(--white);
  list-style: none;
  border-radius: 5px;

}

.card-1:hover .explore-sec {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
  transition: 0.5s;
}

.explore-1 a:hover {
  color: #72082b;
}

.explore-1 p {
  font-size: 1.2rem;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-weight: 700;
  opacity: 0.6;
}

.abc {
  width: 35%;
}

.abc1 {
  width: 35%;
  background-color: rgb(247, 247, 247);
}

.abc2 {
  width: 30%;
}

.list {
  width: 100%;
  list-style: none;
  padding: 8px 0px;
  margin-left: 1rem;
}

.list li {
  margin-bottom: 1rem;
}

#retail {
  text-decoration: underline #97144D;
}

.login-button {
  margin-left: 3rem;
  display: flex;
}

.login-button a {
  font-size: 1.2rem;
  padding: 0px 5px;
  display: flex;
  align-items: center;
  text-decoration: none;
  /* position: relative; */
}


#Ac {
  color: #861F41;
  font-weight: 500;
  opacity: 1;
}

#login {
  padding-left: 18px;
  font-size: 1.4rem;
  width: 7rem;
  height: 3rem;
  background-color: #97144D;
  color: var(--white);
  font: 800;
  border-radius: 5px;
}

.login-button button {
  border: none;
  position: relative;

}

.login-div {
  width: 300px;
  position: absolute;
  right: 0;
  opacity: 0;
  visibility: hidden;
  background-color: #ffffff;
  border-radius: 10px;
}

.login-button button:hover .login-div {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
}

.login-div hr {
  opacity: 0.2;
}

.login-1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;


}

.login-1 span a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #640021;
}

.login-1 span,
i {
  font-size: 1.1rem;
}




/* navbar completed */
.shubhamtop{
  margin-top: 120px
}


@import url("https://fonts.googleapis.com/css2?family=Dai+Banna+SIL:wght@300&family=Lato:wght@100;300;400;700&family=Roboto:wght@400;700&family=Vina+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

.accessibility * {
  line-height: 1.5 !important;
}

:root {
  --bg-main: #861f41;
  --white: #ffffff;
  --f-lato-ragular: "Lato-Regular", sans-serif;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --fontlato: "Lato", sans-serif;
}

.container {
  max-width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


.topbanner {
  width: 100%;
}

.top4 {
  position: relative;
  text-align: center;
  color: white;
}
.shubham {
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
}
.topbanner img {
  object-fit: cover;
  width: 100%;
}

.titleBannerText h2{
    font-size: 2rem;
    font-family: Lato-Bold;
    color: #000;
    line-height: 41px !important;
    position: relative;
    text-align: left;
    font-family: var(--f-lato-ragular); 
}
.titleBannerText p{
    font-size: 1.5rem;
    line-height: 24px !important;
    padding-top: 0.5rem;
    color: #000;
    text-align: left;
    font-family: var(--f-lato-ragular); 
}
.btnBlock{
    margin-top: 50px;
    text-align: left;
}

.titleBannerText a{
    border-radius: 6px;
    padding: 8px 25px;
    /* max-width: 140px; */
    width: 100%;
    margin-top: 100px;
    transition: all ease .3s;
    font-size: 14px;
    background-color: brown;
    text-decoration: none;
    color: white;
   font-family: var(--f-lato-ragular); 
   
}

.grab {
  font-size: 28px;
  display: inline-block;
  font-family: var(--fontlato);
}
.fontweight {
  font-weight: 300;
}
.introline {
  padding: 5rem 0;
}

/* ----------cashbacksection--------- */

.cashbackoutersection {
  width: 100vw;
}

.cashbacksection .firstdiv {
  z-index: 100;
  margin-left: 10px;
  /* border: 1px solid black; */
}

.firstdiv p {
  font-family: var(--fontlato);
  color: #656d78;
}
.firstdiv h2 {
  padding-top: 10px;
  font-size: 2.8rem;
  font-weight: 800;
  color: #97144d;
  font-family: var(--fontlato);
}

.workBtn {
  width: 160px;
  padding: 0.5rem 0.8rem;
  background-color: #97144d;
  text-align: center;
  margin-left: 5px;
  border-radius: 5px;
  margin-top: 30px;
}

.workBtn a {
  text-decoration: none;
  color: white;
}

.seconddiv {
  width: 65%;
  position: absolute;
  left: 450px;
  z-index: -1000;
  bottom: 70px;
  margin: 2rem;
  padding: 1rem 0;
}

.baground {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 100%;
  border-radius: 8px 0 0 8px;
  background-color: #fff0f7;
  width: 100%;
  height: 320px;
  position: absolute;
}
.video01 {
  padding-left: 120px;
  padding-right: 120px;
}

.card {
  border: 1px solid #e6e9ed;
  background: #fff;
  width: 250px;
  height: 170px;
  margin-right: 20px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.card:hover{
 transform: scale(1.2);
}

.detailSec {
  padding: 1.5rem;
}

.detailSec .imgSec img {
  width: 170px;
  height: 60px;
}
.detailSec h5 {
  font-size: 16px;
  padding: 5px 0;
  font-family: "Lato", sans-serif;
}
.detailSec p {
  font-size: 16px;
  padding: 5px 0;
  font-family: "Lato", sans-serif;
  font-weight: 600;
}

.bankingimg {
  width: 95%;
  margin-top: 8.8rem;
  margin-bottom: 2rem;
}

/* --Categories section--- */

.catagery {
  margin-bottom: 5rem;
}
.catagery p {
  font-family: var(--fontlato);
  color: #656d78;
}
.catagery h2 {
  font-size: 2.5rem;
  font-weight: 800;
  color: #97144d;
  font-family: var(--fontlato);
}

#subTitle {
  font-size: 14px;
  color: black;
  padding-bottom: 1rem;
}
.offersectioncatagery {
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.channelSec {
  background-color: white;
  font-family: var(--fontlato);
  text-align: center;
  border: 2px solid #dee1e4;
  min-height: 168px;
  margin-top: 15px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.channelSec:hover{
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  transform: scale(1.5);

}
.channelSec h4 {
  margin-bottom: 30px;
  font-size: large;
  font-family: Lato-Bold;
}
.imgSec img {
  padding-top: 1rem;
}
.imgDetails a {
  color: #97144d;
  text-decoration: none;
}

/* ---------limited section---------------*/

.limitedpreiodoffer {
  padding-bottom: 5rem;
}
.topline {
  font-family: "Lato", sans-serif;
  color: #656d78;
}
.introlimited h2 {
  font-size: 2.5rem;
  font-weight: 750;
  color: #97144d;

  font-family: "Lato", sans-serif;
}

.limitedsectioncatagery {
  font-family: "Lato", sans-serif;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
  width: 98%;
}
.blockText {
  position: absolute;
  top: 16px;
  left: 19px;
  font-family: "Lato", sans-serif;
}
.blockText h2 {
  font-family: var(--f-lato-ragular);
  font-size: 24px;
  color: #ebebeb;
  padding-bottom: 0.5rem;
}
.blockText p {
  font-family: var(--f-lato-ragular);
  color: #fff;
  max-width: 200px;
  width: 100%;
  font-size: 13px;
}
.offerBlock {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  
}


.offerBlock a {
  border: 1px solid #fff;
  border-radius: 6px;
  max-width: 171px;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  transition: all 0.3s ease;
  font-size: 14px;
  color: #fff;
  position: absolute;
  bottom: 16px;
  left: 35px;
  text-decoration: none;
 
}


.blockText a:hover {
  background-color: brown;
  color: white;
  
}

/* --------------edge section------------- */

.edgemain {
  padding-bottom: 3rem;
}
.introedge p {
  font-size: 1rem;
}
.introedge h2 {
  font-size: 40px;
  color: #97144d;
  font-weight: 800;
  font-family: Lato-heavy;
}

.bonusrewardSec {
  margin: 2rem 0;
  width: 50%;
  position: relative;
}

.bonusrewardSec .bonusrewardtext {
  position: absolute;
  left: 13px;
  top: 25px;
}

.bonusrewardSec h4 {
  color: #ebebeb;
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
}

.bonusrewardSec p {
  color: #fff;
  font-size: 1rem;
  padding: 1rem 0 5rem;
}

.workBtn2 {
  width: 160px;

  /* padding: 0.5rem 0.8rem; */
  background-color: #97144d;
  text-align: center;
  margin-left: 5px;
  border-radius: 5px;
  border: ;
}
.workBtn2 a {
  position: absolute;
  bottom: 33px;
  left: 13px;
  max-width: 133px;
  width: 100%;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 6px;
  max-width: 171px;
  padding: 8px 0;
  color: #000;
  border: 1px solid #79c9c4;
  display: block;
  border-radius: 6px;
}
.offerBlock a:hover {
  background-color: brown;
  color: white;
}

.workBtn2 a:hover {
  background-color: brown;
  color: white;
}



/* -------------chat box section------------- */

#aha .fixed{
  position: fixed;
bottom: 20px;
right: 80px;
  height:70px ;
  width: 70px;


}

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}
.chat-popup h1{
  color: #97144d;
  font-size:20px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: #97144d;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}


/* -------chat box end here---------- */



/* footer start */
@import url("https://fonts.googleapis.com/css2?family=Dai+Banna+SIL:wght@300&family=Lato:wght@100;300;400;700&family=latoregular:wght@400;700&family=Vina+Sans&display=swap");

:root{
    font-family: 'Lato', sans-serif;
}
.footer{
    background-color: #e4e4e4;
    width: 100%;
    padding-top: 2rem;

}

body {
  /* background-color: wheat; */
  color: #454545;
  font-family: 'Lato', sans-serif;
}
.box-container {
  padding-top: 2rem;
  max-width: 1170px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
.box-container ul {
  list-style: none;
  padding-bottom: 10px;
  padding-top: 5px;
}
.box-container ul li {
  padding-bottom: 5px;
  font-size: 13px;

}

.box-container h3 {
  font-size: 13px;
  font-family: 'lato';
  
}

.box1,
.box2,
.box3,
.box4,
.box5 {
  width: 19%;
}

.box1 h3{
    font-weight: bolder;
    margin-bottom: 20px;
}
.box1 h4{
    font-size: 13px;
    
}
.box1 ul{
    list-style: "-";
}


.getinstent h4 {
    font-size: 14px;
    margin-bottom: 8px;

}
.mayank li{
margin-bottom: 10px;
}
.box2 h3 ,.box3 h3,.box4 h3,.box5 h3{

    margin-bottom: 20px;
}
.box2 li ,.box3 li,.box4 li,.box5 li{

    margin-bottom: 10px;
}

.reportbtn{
    padding: 10px 15px;
    border: 1px solid black;
    background: #595959;
    box-shadow: 0 0 8px #a9a3a3;
    border-radius: 5px;
    width: 90%;
    color: white;
    margin-top: 30px;
    margin-bottom: 20px;
}

.DICGC p{
    font-size: 13px;
    margin: 10px auto;
}
.DICGC h4{
    font-size: 14px;
    margin: 10px auto;
}

.imgply{
    display: flex;justify-content: space-between;
}


/* ---------------next section----------------------- */


.contaner{
    max-width: 1170px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

.line{
    margin: 20px 0;
}

.bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
  margin: auto;
  text-align: justify;
  gap: 15px;
}
.heading{
    width: 10%;
    font-size: 13.5px;
    font-weight: bolder;
}
.para{
    width: 85%;
    font-size: 13px ;
    line-height: 1.5;
    margin-bottom: 10px;
}

.para2 p {
    font-size: 13px;
  margin-bottom: 10px;
  margin-top: 10px;
}


.heading2{
    width: 13%;
    font-size: 13.5px;
    font-weight: bolder;
}
.bmtsecfooter{
    margin-top: 20px;
    padding-top: 15px;
    width: 100%;
    height: 7.5vh;
    background-color: #444;
    display: flex;
    justify-content: space-around;
    color: #e4e4e4;
    margin-bottom: -20px;
}
.bmtsecfooter ul{
    list-style: none;
    display: flex;

}
.bmtsecfooter li{
    width: 100%;
    font-size: 12px;
}
.bmtsecfooter ul li a{
   text-decoration: none;
   color: #e4e4e4;


}

.bottom a i{
  color: #777474;
  font-size: 1.5rem;
  margin-left: 5px;
}
.fb:hover{
  color: rgb(89, 74, 206);
}
.yt:hover{
  color: rgb(228, 40, 7);
}
.linked:hover{
  color: rgb(21, 21, 225);
}
.tw:hover{
  color: rgb(31, 27, 60);
}
.insta:hover{
  color: rgb(244, 139, 157);
}
 /* #box1{
  display: inline-block;
  position: relative;
 
}

#animationfooter::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #97144d;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

#animationfooter:hover{
  transform: scaleX(1);
  transform-origin: bottom left;
} */

/* footer end---------- */