:root {
    --bg-main: #861F41;
    --white: #FFFFFF;
    --f-lato-ragular: "Lato-Regular", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Dai+Banna+SIL:wght@300&family=Lato:wght@100;300;400;700&family=Roboto:wght@400;700&family=Vina+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 13px;
    font-family: var(--f-lato-ragular);
}

body {
    align-items: center;
    overflow-x: hidden;
    height: auto;
    width: 100%;
}

#menu-bar {
    display: none;
}

header {
    width: 100%;
    position: fixed;
    z-index: 5;
    top: 0;
}

header:hover~section {
    /* filter: grayscale(1.2); */
    filter: blur(0.2rem);
}

.navbar {
    margin-left: -3rem;
    background-color: var(--bg-main);
}

.navbar-top {
    display: flex;
    align-items: center;
}

.nav-list {
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 100px;
    list-style: none;
    margin-left: 330px;
}

.nav-list li a {
    position: relative;
    color: var(--white);
    text-decoration: none;
    padding: 0px 8px;
    font-size: 1.1rem;
    color: var(--white);
}

.nav-list li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    top: 1;
    background-color: var(--white);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.nav-list li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.parent {
    font-size: 1.1rem;
    padding: 0px 10px;
    color: var(--white);
    position: relative;
    transition: all 0.3s;
}

.dropdown {
    position: absolute;
    list-style: none;
    width: 140px;
    height: auto;
    margin-top: 14px;
    margin-left: -45px;
    visibility: hidden;
    padding: 5px 10px;
    border-radius: 10px;
    opacity: 0;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgb(245, 245, 245);
}

.dropdown li a {
    color: black;
    text-decoration: none;
    padding: 2rem;
}

.parent:hover .dropdown {
    visibility: visible;
    opacity: 1;
    cursor: pointer;
}

.dropdown li a:hover {
    color: var(--bg-main)
}

.dropdown li {
    margin-top: 10px;
}

.nav-icons i {
    padding: 0px 5px;
    font-size: 1.4rem;
    color: var(--white);
    opacity: 0.9;
    cursor: pointer;
}

.nav-icons button {
    position: relative;
    width: 90px;
    border: none;
    padding: 6px 12px;
    background-color: #A4224D;
    color: var(--white);
    border-radius: 3px;
    margin-left: 0px;
    cursor: pointer;

}

.language {
    width: 100%;
    position: absolute;
    top: 2.3rem;
    background-color: white;
    left: 0;
    transition: all 0.3s;
    z-index: 1;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

.nav-icons button:hover .language {
    visibility: visible;
    opacity: 1;
    transition: 0.2s;
    color: #97144D;
}

.language p {
    padding: 10px 0px;
    color: black;
}

.language p:hover {
    background-color: #f2f2f2;
}

.login-div i {
    opacity: 0.5;
}

.login-1 span {
    margin: 10px 50px;
}

.login-1 span:hover {
    background-color: #f6f6f6;
}

#internet-banking {
    font-size: 1.3rem;
    opacity: 0.8;
}

.navbar-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 10rem; */
    height: 6rem;
    background-color: var(--white);
    margin-left: -14rem;
    border-bottom: 1px solid rgb(220, 220, 220);
}

.navbar-image {
    display: flex;
    justify-content: start;
    margin-left: 14rem;
    background-color: var(--bg-main);
    height: 4rem;
    margin-left: 180px;
    margin-top: -2.1rem;
    cursor: pointer;
}

.login-button {
    display: inline-block;
    position: relative;
    padding: 0px 2px;
}

#open-digital {
    text-decoration: none;
    color: #72082b;

}

#open-digital {
    position: relative;
    color: #72082b;
}

#open-digital::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #72082b;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

#open-digital:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


#Axis-logo {
    margin-top: -1.2rem;
}

.navbar-text {
    display: flex;
    list-style: none;
    font-size: 5rem;
    margin-right: 7rem;
    align-items: center;
}

.navbar-text li {
    padding: 0px 10px;
    text-decoration: none;
    color: black;
}

.navbar-text li a {
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
    opacity: 0.9;
    font-weight: 300;
    opacity: 0.8;
}

.navbar-text li a:hover {
    color: #97144D;
}

#diffrent {
    font-size: 1.3rem;
}

.card-1 {
    font-size: 1rem;
    padding: 0px 8px;
    position: relative;
    display: flex;
}

.explore-sec {
    width: 40rem;
    display: flex;
    position: absolute;
    top: 40px;
    left: 0;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    transition: 0.5s;

}

.explore-1 {
    list-style: none;
    background-color: var(--white);
    list-style: none;
    border-radius: 5px;

}

.card-1:hover .explore-sec {
    visibility: visible;
    opacity: 1;
    cursor: pointer;
    transition: 0.5s;
}

.explore-1 a:hover {
    color: #72082b;
}

.explore-1 p {
    font-size: 1.2rem;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-weight: 700;
    opacity: 0.6;
}

.abc {
    width: 35%;
}

.abc1 {
    width: 35%;
    background-color: rgb(247, 247, 247);
}

.abc2 {
    width: 30%;
}

.list {
    width: 100%;
    list-style: none;
    padding: 8px 0px;
    margin-left: 1rem;
}

.list li {
    margin-bottom: 1rem;
}

#retail {
    text-decoration: underline #97144D;
}

.login-button {
    margin-left: 3rem;
    display: flex;
}

.login-button a {
    font-size: 1.2rem;
    padding: 0px 5px;
    display: flex;
    align-items: center;
    text-decoration: none;
    /* position: relative; */
}


#Ac {
    color: #861F41;
    font-weight: 500;
    opacity: 1;
}

#login {
    padding-left: 18px;
    font-size: 1.4rem;
    width: 7rem;
    height: 3rem;
    background-color: #97144D;
    color: var(--white);
    font: 800;
    border-radius: 5px;
}

.login-button button {
    border: none;
    position: relative;

}

.login-div {
    width: 300px;
    position: absolute;
    right: 0;
    opacity: 0;
    visibility: hidden;
    background-color: #ffffff;
    border-radius: 10px;
}

.login-button button:hover .login-div {
    visibility: visible;
    opacity: 1;
    cursor: pointer;
}

.login-div hr {
    opacity: 0.2;
}

.login-1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;


}

.login-1 span a {
    text-decoration: none;
    font-size: 1.1rem;
    color: #640021;
}

.login-1 span,
i {
    font-size: 1.1rem;
}




/* navbar completed */




.container {
    margin-top: 150px;
    height: auto;
    width: 100%;

}

.container-image {
    height: 100%;
    width: 100%;
    /* margin-left: 1.5rem; */
    justify-content: center;
    gap: 25px;
    display: flex;
    align-items: center;
}

.items {
    width: 760px;
    object-fit: cover;
}
.item-2 {
    width: 100%;
}

.item-2 img {
    border-radius: 5px;
    margin: 0px 9px;
}

.hero-section-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    border: 1px rgb(190, 190, 190) solid;
    cursor: pointer;
}

.owl-dot:hover {
    background-color: #751233;
}

.hero-section-right {
    width: 30%;
    cursor: pointer;
}

.hero-left-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.hero-left-text p {
    font-size: 1.2rem;
    opacity: 0.9;
}

.hero-left-text p:hover {
    color: #751233;
}

.hero-right-text {
    display: flex;
    margin: 8px;
    align-items: center;
}

.hero-right-text h2 {
    font-size: 2rem;
    padding: 2px;
}

.hero-right-text span {
    margin-left: 5px;
    font-size: 1.8rem;
    font-weight: 100;
    opacity: 0.7;
}

.hero-right-text i {
    margin-left: 210px;
    font-size: 2rem;
    font-weight: 600;
    color: #72082b;
}

.active span {
    background-color: #640021 !important;
}

.owl-dot:hover span {
    background-color: #72082b !important;
}

.box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
    cursor: pointer;
}

.box-left {
    height: 4rem;
    width: 40rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: #97144D;
}

.box-left-1 {
    margin-left: 20px;
    color: #FFFFFF;
    font-size: 15px;

}

/* .search-icon i {
    font-size: 20px;
} */

.search-icon span {
    font-size: 15px;
}

/* .mice-icon img {
    margin-top: 5px;
    margin-right: 10px;
    width: 3.5vw;
} */

.mice-icon p {
    font-size: 15px;
    margin-right: 25px;
    background: white;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
}

.box-right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.box-right-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #E5E5E5;
    border-radius: 10px;
    height: 4rem;
    width: 40rem;
}

#avalable {
    margin-right: 20px;
    background-color: #97144D;
    padding: 6px 15px;
    border-radius: 3px;
    color: var(--white);
}

#qualified {
    color: #640021;
    font-size: 1.3rem;
    margin-bottom: 10px;
    margin-left: 15px;

}

#qualified b {
    font-size: 1.3rem;
}

.container-2 {
    margin-top: 4rem;
    /* width: 100%; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-2 img:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}
.container-2 h1 {
    font-size: 2rem;
    margin-left: -41rem;
    margin-bottom: 1rem;
    cursor: pointer;
}
.container-2 span{
    font-size: 1.8rem;
    opacity: 0.7;
    font-weight: 200;
}

.sme-icons {
    width: 1100px;
    display: flex;
    gap: 5%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sme-images {
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(225, 220, 220);
    justify-content: center;
    align-items: center;
}
.sme-images p {
    margin-top: 10px;
    font-size: 1.3rem;
    opacity: 0.9;
}

.sme-images p:hover {
    color: #751233;
}
.sme-button {
    margin-top: 3.5rem;
    cursor: pointer;
}
.sme-button p {
    font-size: 1.3rem;
    background-color:#a01845;
    border-radius: 5px;
    padding: 10px 30px;
    color:#eeeeee;
}

.container-8 {
    margin-bottom: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.last-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 3rem;
}

.last-page-image  img {
    width: 28vw;
}
.last-page-image h1 {
    margin-bottom: 30px;
    font-size: 2rem;
}
.last-page-image h2 {
    font-size: 1.3rem;
    margin-top: 15px;
}
.last-page-image p {
    margin-top: 20px;
    font-size: 1.2rem;
    line-height: 25px;
}
.last-page-image span {
    font-size: 1.5rem;
    font-weight: 100;
    opacity: 0.7;
}
/* footer start */
@import url("https://fonts.googleapis.com/css2?family=Dai+Banna+SIL:wght@300&family=Lato:wght@100;300;400;700&family=latoregular:wght@400;700&family=Vina+Sans&display=swap");

:root{
    font-family: 'Lato', sans-serif;
}
.footer{
    background-color: #e4e4e4;
    width: 100%;
    padding-top: 2rem;

}

body {
  /* background-color: wheat; */
  color: #454545;
  font-family: 'Lato', sans-serif;
}
.box-container {
  padding-top: 2rem;
  max-width: 1170px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
.box-container ul {
  list-style: none;
  padding-bottom: 10px;
  padding-top: 5px;
}
.box-container ul li {
  padding-bottom: 5px;
  font-size: 13px;

}

.box-container h3 {
  font-size: 13px;
  font-family: 'lato';
  
}

.box1,
.box2,
.box3,
.box4,
.box5 {
  width: 19%;
}

.box1 h3{
    font-weight: bolder;
    margin-bottom: 20px;
}
.box1 h4{
    font-size: 13px;
    
}
.box1 ul{
    list-style: "-";
}


.getinstent h4 {
    font-size: 14px;
    margin-bottom: 8px;

}
.mayank li{
margin-bottom: 10px;
}
.box2 h3 ,.box3 h3,.box4 h3,.box5 h3{

    margin-bottom: 20px;
}
.box2 li ,.box3 li,.box4 li,.box5 li{

    margin-bottom: 10px;
}

.reportbtn{
    padding: 10px 15px;
    border: 1px solid black;
    background: #595959;
    box-shadow: 0 0 8px #a9a3a3;
    border-radius: 5px;
    width: 90%;
    color: white;
    margin-top: 30px;
    margin-bottom: 20px;
}

.DICGC p{
    font-size: 13px;
    margin: 10px auto;
}
.DICGC h4{
    font-size: 14px;
    margin: 10px auto;
}

.imgply{
    display: flex;justify-content: space-between;
}


/* ---------------next section----------------------- */


.contaner{
    max-width: 1170px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

.line{
    margin: 20px 0;
}

.bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
  margin: auto;
  text-align: justify;
  gap: 15px;
}
.heading{
    width: 10%;
    font-size: 13.5px;
    font-weight: bolder;
}
.para{
    width: 85%;
    font-size: 13px ;
    line-height: 1.5;
    margin-bottom: 10px;
}

.para2 p {
    font-size: 13px;
  margin-bottom: 10px;
  margin-top: 10px;
}


.heading2{
    width: 13%;
    font-size: 13.5px;
    font-weight: bolder;
}
.bmtsecfooter{
    margin-top: 20px;
    padding-top: 15px;
    width: 100%;
    height: 7.5vh;
    background-color: #444;
    display: flex;
    justify-content: space-around;
    color: #e4e4e4;
    margin-bottom: -20px;
}
.bmtsecfooter ul{
    list-style: none;
    display: flex;

}
.bmtsecfooter li{
    width: 100%;
    font-size: 12px;
}
.bmtsecfooter ul li a{
   text-decoration: none;
   color: #e4e4e4;


}

.bottom a i{
  color: #777474;
  font-size: 1.5rem;
  margin-left: 5px;
}
.fb:hover{
  color: rgb(89, 74, 206);
}
.yt:hover{
  color: rgb(228, 40, 7);
}
.linked:hover{
  color: rgb(21, 21, 225);
}
.tw:hover{
  color: rgb(31, 27, 60);
}
.insta:hover{
  color: rgb(244, 139, 157);
}
 /* #box1{
  display: inline-block;
  position: relative;
 
}

#animationfooter::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #97144d;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

#animationfooter:hover{
  transform: scaleX(1);
  transform-origin: bottom left;
} */

/* footer end---------- */


